@font-face {
    font-family: popins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App{
    border: 1px solid black;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
    font-family: popins;
}
@media only screen and (max-width: 600px) {
    body {
     font-size: 0.8em;
    }
  }
  @media only screen and (max-width: 450px) {
    body {
     font-size: 0.6em;
    }
  }

