.pagination{
    display: flex;
    justify-content: center;
}
.paginationbtns {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 1em;
}
.paginationbtns li a{
    padding: 1em;
    margin: 0em 0.2em;
}
.paginationbtns li a:hover{
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 10px;
    cursor: pointer;
}
.paginationactive a{
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.paginationactive a:hover{
    background-color: blue !important;
}
